.nav {
  position: fixed; /*position fixed를 할 경우에는 반드시 width를 설정해줘야 한다 */
  padding: 20px 50px;
  width: 100%;
  background-color: #fcfcfc;
  bottom: 0px;
  left: 0px; /*fixed된 상태에서 위치설정*/
  border-top: 1px solid #f7f7f7;
}

.nav .nav__list {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav i {
  font-size: 20px;
}

.nav .nav__list-link {
  position: relative;
}

.nav .nav__badge {
  position: absolute;
  top: -10px;
  right: -5px;
  color: white;
  background-color: #dc5d46;
  width: 17px;
  height: 17px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  font-size: 12px;
}

@keyframes showNavBar {
  from{
    transform: translateY(80px);
  }
  to{
    transform: none;
  }
}

.nav{
  transform: translateY(80px);
  animation: showNavBar 0.5s ease-out forwards;
  animation-delay: 0.7s;
}