@import "more.css";
@import "friend.css";
@import "reset.css";
@import "nav.css";
@import "header.css";
@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,350,400,600&display=swap");
@import "status-bar.css";
@import "friends.css";
@import "find.css";
@import "settings.css";
@import "chat.css";
@import "mobile.css";

body {
  background-color: white;
  padding: 10px 20px;
  color: #020202;
  font-family: "Open Sans";
}


a {
  color: inherit; /*부모요소로부터 색깔을 받아옴. 현재 부모요소는 검은색 */
  text-decoration: none; /*링크 밑줄 없애는거*/
}

* {
  box-sizing: border-box;
  /*padding이 추가될 때 box가 그만큼 커지지 않게 해줘. */
}

@keyframes fadeIn {
  from{
    transform: translateY(50px);
    opacity: 0;
  }
  to{
    transform: none;
    opacity: 1;
  }
}

main{
  animation: fadeIn 0.5s ease-out;
}